<div class="alertaC" *ngIf="alerta">
  <alert  [type]="alerta_tipo" dismissible="true" close="cerrarAlerta()">
    <strong>{{alerta_msg}}</strong> 
  </alert>
</div>

<div class="alertaC" *ngIf="alerta_boton">
  <alert [type]="alerta_tipo" >
    <strong>{{alerta_msg}}</strong>
    <button type="button" class="btn btn4 btn-secondary" (click)="ok_alerta()">ok</button> 
  </alert>
</div>

<div class="animated fadeIn" *ngIf="mostrar">
  <div class="row">
    <div class="col-sm-6" style="display:block; margin:auto">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-picture-o"></i>
          <strong> Imagen de fondo</strong>
          <small>App</small>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div *ngIf="subiendoImg" style="margin-top: 50%; margin-left: 40%;">
              <i class="fa fa-spinner fa-spin"></i>Cargando...
              </div>

              <div *ngIf="!subiendoImg" style="text-align: center; vertical-align:middle;">
                <img src = "{{img_fondo}}" alt="" height="400px" width="250px">
              </div>
            </div>
          </div><!--/.row-->
        </div>
        <div class="card-footer">
          <!-- app.component.html -->
          <p style="color: #c71717"><b>Sugerencia:</b> La dimensión de la imagen no debe ser mayor a 720x1280 px.</p>
          <input type="file" name="myImage" accept="image/*"
                 ngFileSelect
                 [options]="options"
                 (onUpload)="handleUpload($event)"
                 (beforeUpload)="beforeUpload($event)">
           
          <!-- drag & drop file example-->
          <style>
            .file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
          </style> 
          <div ngFileDrop
               [options]="options"
               (onUpload)="handleUpload($event)"
               [ngClass]="{'file-over': hasBaseDropZoneOver}"
               (onFileOver)="fileOverBase($event)"
               (beforeUpload)="beforeUpload($event)">
          </div>
           
          <!-- <div>
            Response: {{ uploadFile | json }}
          </div> -->
        </div>
      </div>
    </div><!--/.col-->
</div>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>

 