<div class="sidebar">
  <app-sidebar-header></app-sidebar-header>
  <app-sidebar-form></app-sidebar-form>
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">
        Menu
      </li>
      <li *ngxPermissionsOnly="['SUPER', 'ADMIN']" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Panel principal <!-- <span class="badge badge-info">NEW</span>--></a> 
      </li>
      <li *ngxPermissionsOnly="['SUPER', 'ADMIN']" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/usuarios']"><i class="icon-people"></i> Usuarios </a> 
      </li>
      <li *ngxPermissionsOnly="['SUPER', 'ADMIN']" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/categorias']"><i class="icon-puzzle"></i> Categorías </a> 
      </li>
      <li *ngxPermissionsOnly="['SUPER', 'ADMIN']" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/productos']"><i class="icon-star"></i> Productos </a> 
      </li>
      <li *ngxPermissionsOnly="['SUPER', 'ADMIN']" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/pedidos']"><i class="icon-basket-loaded"></i> Pedidos </a> 
      </li>
      <li *ngxPermissionsOnly="['SUPER']" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/aplicacion']"><i class="icon-screen-smartphone"></i> App </a> 
      </li>
    </ul>
  </nav>
  <app-sidebar-footer></app-sidebar-footer>
  <app-sidebar-minimizer></app-sidebar-minimizer>
</div>
