<div class="sidebar">
  <app-sidebar-header></app-sidebar-header>
  <app-sidebar-form></app-sidebar-form>
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">
        Menu
      </li>
      <li *ngxPermissionsOnly="['SUPER', 'ADMIN']" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Panel principal <!-- <span class="badge badge-info">NEW</span>--></a> 
      </li>
      <li *ngxPermissionsOnly="['SUPER', 'ADMIN']" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/usuarios']" (click)="compararRutas('/usuarios')"><i class="icon-people"></i> Usuarios </a> 
      </li>
      <li *ngxPermissionsOnly="['SUPER', 'ADMIN']" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/categorias']" (click)="compararRutas('/categorias')"><i class="icon-puzzle"></i> Categorías </a> 
      </li>
      <li *ngxPermissionsOnly="['SUPER', 'ADMIN']" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/productos']" (click)="compararRutas('/productos')"><i class="icon-star"></i> Productos </a> 
      </li>
      <li *ngxPermissionsOnly="['SUPER', 'ADMIN']" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/pedidos']" (click)="compararRutas('/pedidos')"><i class="icon-basket-loaded"></i> Pedidos </a> 
      </li>
      <!-- <li *ngxPermissionsOnly="['SUPER']" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/aplicacion']"><i class="icon-screen-smartphone"></i> App </a> 
      </li> -->
      <li *ngxPermissionsOnly="['SUPER']" class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-screen-smartphone"></i> App</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/aplicacion/img-fondo']"><i class="icon-picture"></i> Img. Fondo</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/aplicacion/img-registro']"><i class="icon-picture"></i> Img. Registro</a>
          </li>
        </ul>
      </li>
      <li *ngxPermissionsOnly="['SUPER']" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/vendedores']" (click)="compararRutas('/vendedores')"><i class="icon-user"></i> Vendedores </a> 
      </li>
    </ul>
  </nav>
  <app-sidebar-footer></app-sidebar-footer>
  <app-sidebar-minimizer></app-sidebar-minimizer>
</div>
