<ion-header>
  <ion-navbar>
    <ion-title>PEDIDO</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <br>
  <ion-card *ngFor="let item of items" class="content-category">
    <ion-icon ios="ios-close-circle" md="md-close-circle" class="icon-delete" (click)="remove(item)"></ion-icon>
    <ion-row class="item-product">
        <ion-col col-2 style="padding:5px 0px">
          <img class="img-product" src="{{item.imagen}}" imageViewer>
        </ion-col>
        <ion-col col-7>
          <p class="title-product">{{item.nombre}}</p>
          <ion-input type="tel" placeholder="Cantidad" name="cantidad" [(ngModel)]="item.cantidad" (ionChange)="changeQuantity($event,item)"></ion-input>
        </ion-col>
        <ion-col col-3>
          <p class="price-product">${{item.costo}}</p>
          <p class="unit-product">{{item.unidad}}</p>
        </ion-col>
    </ion-row>    
  </ion-card>
  <br>
  <ion-card *ngIf="itemscart > 0" class="content-price1">
    <ion-row>
        <ion-col col-6>
          <h2 class="bold">COSTO TOTAL</h2>
        </ion-col>
        <ion-col col-6>
          <h2 class="bold price-total">${{total}} MXN</h2>
        </ion-col>
    </ion-row>
    </ion-card>
    <ion-card *ngIf="itemscart > 0" class="content-price">
    <h2 class="bold">DIRECCIÓN DE ENVÍO</h2>
    <ion-list radio-group [(ngModel)]="type">
      <ion-row class="item-product">
          <ion-col col-6>
            <p class="title-product">ENVIAR A DIRECCIÓN</p>
            <ion-item class="item-dir">
              <ion-label><img class="item-checkbox-img" src="assets/img/map.png"></ion-label>
              <ion-radio value="address"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <p class="title-product">ENVIAR A UBICACIÓN</p>
            <ion-item class="item-dir">
              <ion-label><img class="item-checkbox-img" src="assets/img/location.png"></ion-label>
              <ion-radio value="location" checked></ion-radio>
            </ion-item>
          </ion-col>
      </ion-row>
    </ion-list>
      </ion-card>
    <div class="center">
      <button ion-button class="b1-login" *ngIf="itemscart > 0" (click)="pedir()">ENVIAR PEDIDO</button>
    </div>
    <br>
</ion-content>
