<div class="alertaC" *ngIf="alerta">
  <alert  [type]="alerta_tipo" dismissible="true" close="cerrarAlerta()">
    <strong>{{alerta_msg}}</strong> 
  </alert>
</div>

<div class="alertaC" *ngIf="alerta_boton">
  <alert [type]="alerta_tipo" >
    <strong>{{alerta_msg}}</strong>
    <button type="button" class="btn btn4 btn-secondary" (click)="ok_alerta()">ok</button> 
  </alert>
</div>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar usuario </h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Realmente desea eliminar el usuario {{eliminar_user}}?</p>
        <p><i class="fa fa-warning"></i> Se eliminará el usuario y sus pedidos.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn4 btn-secondary" (click)="myModal.hide()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="myModal.hide(); eliminar()"><i class="fa fa-trash"></i>&nbsp; Eliminar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="animated fadeIn" *ngIf="!editando && mostrar">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div class="card-header">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" style="text-align: right; margin-top: 7px;">
                   <strong>Buscar: </strong>
                   <input  type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/>
                   <!-- <button type="button" class="btn btn-primary" (click)="FilterByName()">Aplicar</button> -->
                  </div>
                </div>
              </div>
            </div>  
            <div class="card-body ">
              <table class="table table-striped">
                <thead>
                   <th></th>
                   <!-- <th style="text-align: center;">ID</th> -->
                   <th style="text-align: center;">Usuario</th>
                   <th style="text-align: center;">Nombre</th>
                   <th style="text-align: center;">Correo</th>
                   <th style="text-align: center;">Teléfono</th>
                   <th style="text-align: center;">Alta</th>
                   <th style="text-align: center;">Pedidos(Hoy)</th>
                   <th style="text-align: center;">Acciones</th>
                </thead>
                <tbody>
                   <tr *ngFor="let item of items" >
                      <td></td>
                      <!-- <td style="text-align: center;">{{item.id}}</td> -->
                      <td style="text-align: center;">{{item.user}}</td>
                      <td style="text-align: center;">{{item.nombre}}</td>
                      <td style="text-align: center;">{{item.correo}}</td>
                      <td style="text-align: center;">{{item.telefono}}</td>
                      <td style="text-align: center;">{{item.fecha}}</td>
                      <td style="text-align: center;">{{item.pedidos.length}}</td>
                      <td style="text-align: center;">
                        <button type="button" class="btn btn2 btn-primary" (click)="ver(item)"><i class="fa fa-eye"></i>&nbsp; Ver</button>
                        <button *ngxPermissionsOnly="['SUPER']" type="button" class="btn btn-danger" data-toggle="modal" (click)="myModal.show(); aEliminar(item)"><i class="fa fa-trash"></i>&nbsp; Eliminar</button>
                      </td>
                   </tr>
                </tbody>
              </table>
                <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                  <div class="btn-group">
                     <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
                  </div>
                  <div class="btn-group pull-right">
                     <ul class="pagination" >
                        <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()" >Atrás</a></li>
                           <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                              <a (click)="setPage(page)"  >{{page}} </a>
                           </li>
                        <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()" >Siguiente</a></li>
                     </ul>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn" *ngIf="editando">
  <div class="row">
    <!-- <div class="col-md-10" style="display:block; margin:auto">
      <div class="card">
        <div class="card-header">
          <strong>Detelle de:</strong> {{selectedCliente.user}}
        </div>
        <div class="card-body">
          <form action="" method="post" class="form-horizontal">
            <div class="form-group row">
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user-o"></i></span>
                  <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="Usuario" [(ngModel)]="selectedCliente.user">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" id="input2-group1" name="input2-group1" class="form-control" placeholder="Nombre" [(ngModel)]="selectedCliente.nombre">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                  <input type="email" id="input3-group1" name="input3-group1" class="form-control" placeholder="Correo" [(ngModel)]="selectedCliente.correo">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                  <input type="text" id="input4-group1" name="input4-group1" class="form-control" placeholder="Teléfono" [(ngModel)]="selectedCliente.telefono">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn4 btn-sm btn-secondary" (click)="atras()"><i class="fa fa-arrow-left"></i> Atrás</button>
          
        </div>
      </div>
    </div> -->

    <div class="col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header">
          <strong><i class="icon-user"></i> Usuario</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row grupos">
              <label class="col-md-3 form-control-label etiquetas">User</label>
              <div class="col-md-9">
                <p class="form-control-static">{{selectedCliente.user}}</p>
              </div>

              <label class="col-md-3 form-control-label etiquetas">Nombre</label>
              <div class="col-md-9">
                <p class="form-control-static">{{selectedCliente.nombre}}</p>
              </div>

              <label class="col-md-3 form-control-label etiquetas">Correo</label>
              <div class="col-md-9">
                <p class="form-control-static">{{selectedCliente.correo}}</p>
              </div>

              <label class="col-md-3 form-control-label etiquetas">Teléfono</label>
              <div class="col-md-9">
                <p class="form-control-static">{{selectedCliente.telefono}}</p>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn4 btn-sm btn-secondary" (click)="atras()"><i class="fa fa-arrow-left"></i> Atrás</button>
        </div>
      </div>
    </div><!--/.col-->
  </div>

  <div *ngFor="let pedido of selectedCliente.pedidos; let i=index" >
    <div class="row">
      <div class="col-md-12" style="display:block; margin:auto">
        <div class="card">
          <div class="card-header">
            <strong>Pedido {{i+1}}:</strong>
            <div class="pull-right" style="margin-right: 50px">
              <strong>Fecha: {{pedido.created_at | date:'dd/MM/yyyy'}}</strong>
              <strong>- Hora: {{pedido.created_at | date:'HH:mm:ss'}}</strong>
          </div>
          </div>
          <div class="card-body">
              <div class="row">

              <div *ngIf="pedido.vendedor" class="col-md-12">
                <div class="card card-accent-warning">
                  <div class="card-header">
                    <strong><i class="icon-user"></i> Vendedor</strong>
                  </div>
                  <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                      <div class="form-group row grupos" >
                        <label class="col-md-3 form-control-label etiquetas">Nombre</label>
                        <div class="col-md-9">
                          <p class="form-control-static">{{pedido.vendedor.nombre}}</p>
                        </div>

                        <label *ngIf="pedido.vendedor.apellido" class="col-md-3 form-control-label etiquetas">Apellido</label>
                        <div *ngIf="pedido.vendedor.apellido" class="col-md-9">
                          <p class="form-control-static">{{pedido.vendedor.apellido}}</p>
                        </div>

                        <label *ngIf="pedido.vendedor.telefono" class="col-md-3 form-control-label etiquetas">Teléfono</label>
                        <div *ngIf="pedido.vendedor.telefono" class="col-md-9">
                          <p class="form-control-static">{{pedido.vendedor.telefono}}</p>
                        </div>

                        <label *ngIf="pedido.vendedor.correo" class="col-md-3 form-control-label etiquetas">Correo</label>
                        <div *ngIf="pedido.vendedor.correo" class="col-md-9">
                          <p class="form-control-static">{{pedido.vendedor.correo}}</p>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div><!--/.col-->
            
              <div class="col-md-12">
                <div class="card card-accent-success">
                  <div class="card-header">
                    <strong><i class="icon-direction"></i>  Referencias</strong>
                  </div>
                  <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                      <div class="form-group row grupos">
                        <label class="col-md-3 form-control-label etiquetas">Dirección</label>
                        <div class="col-md-9">
                          <p class="form-control-static">{{pedido.direccion}}</p>
                        </div>

                        <label *ngIf="pedido.descripcion" class="col-md-3 form-control-label etiquetas">Descripción</label>
                        <div *ngIf="pedido.descripcion" class="col-md-9">
                          <p class="form-control-static">{{pedido.descripcion}}</p>
                        </div>

                        <label *ngIf="pedido.referencia" class="col-md-3 form-control-label etiquetas">Referencia</label>
                        <div *ngIf="pedido.referencia" class="col-md-9">
                          <p class="form-control-static">{{pedido.referencia}}</p>
                        </div>
                      </div>

                      <div *ngIf="pedido.lat && pedido.lng">
                        <!-- <strong>Aqui el mapa</strong> -->
                        <agm-map style="height: 300px;" [zoom]="13" [latitude]="pedido.lat" [longitude]="pedido.lng">
                            <agm-marker style="height: 300px;" [latitude]="pedido.lat" [longitude]="pedido.lng"></agm-marker>
                        </agm-map>
                      </div>

                    </form>
                  </div>
                </div>
              </div><!--/.col-->
              
              <div class="col-md-12">
                <div class="card card-accent-danger">
                  <div class="card-header">
                    <strong><i class="icon-basket-loaded"></i>  Productos Solicitados</strong>
                  </div>
                  <div class="card-body">
                    <!-- <div class="table-responsive"></div> -->
                    <table class="table table-sm">
                      <thead >
                        <tr>
                          <th class="text-center">Imagen</th>
                          <th class="text-center">Producto</th>
                          <th class="text-center">Unidad</th>
                          <th class="text-center">Solicitados</th>
                          <th class="text-center">Sub-total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of pedido.productos">
                          <td class="text-center">
                            <img src = "{{item.imagen}}" alt="" height="auto" width="60px"></td>
                          <td class="text-center">
                            {{item.nombre}}
                          </td>
                          <td class="text-center">
                            {{item.unidad}}
                          </td>
                          <td class="text-center">
                            {{item.pivot.cantidad}}
                          </td>
                          <td class="text-center">
                            {{item.pivot.precio}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer">
                    <div class="pull-right" style="margin-right: 50px"><strong>Total: $ {{pedido.total}} MXN</strong></div>
                  </div>
                </div>
              </div><!--/.col-->
            </div><!--/.row-->
          </div>
          <!-- <div class="card-footer">
            <button  class="btn btn4 btn-sm btn-secondary" (click)="atras()"><i class="fa fa-arrow-left"></i> Atrás</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>

</div>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>

 