<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="row">
        <div class="col-md-12">
          <div class="card-header">
            <div class="form-group" style="text-align: right;">
             <label>Buscar: </label>
             <input  type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/>
             <button type="button" class="btn btn-primary" (click)="FilterByName()">Aplicar</button>
            </div>
              Lista de usuarios
          </div>
          <div class="card-body ">
            <table class="table table-striped">
              <thead>
                 <th></th>
                 <th style="text-align: center;">ID</th>
                 <th style="text-align: center;">Usuario</th>
                 <th style="text-align: center;">Nombre</th>
                 <th style="text-align: center;">Teléfono</th>
                 <th style="text-align: center;">Acciones</th>
              </thead>
              <tbody>
                 <tr *ngFor="let item of items">
                    <td></td>
                    <td style="text-align: center;">{{item.id}}</td>
                    <td style="text-align: center;">{{item.user}}</td>
                    <td style="text-align: center;">{{item.nombre}}</td>
                    <td style="text-align: center;">{{item.telefono}}</td>
                    <td style="text-align: center;">
                      <button type="button" class="btn btn-success"><i class="fa fa-users"></i>&nbsp; Ver</button>
                      <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp; Eliminar</button>
                    </td>
                 </tr>
              </tbody>
            </table>
              <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                <div class="btn-group">
                   <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
                </div>
                <div class="btn-group pull-right">
                   <ul class="pagination" >
                      <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()" href="#">Atrás</a></li>
                         <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                            <a (click)="setPage(page)" href="#" >{{page}} </a>
                         </li>
                      <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()" href="#">Siguiente</a></li>
                   </ul>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>   
  </div>
  <div class="col-md-1"></div>
</div> 